
body {
	background-color: lightblue;
}

.SearchBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%,50%);
	height: 100px;
	border-radius: 40px;
	padding: 10px;
	background-color: lightblue;
}

.SearchBox:hover > .SearchText {
	width: 240px;
}

.SearchBox:hover > .SearchButton {
	background: white;
}
