
@font-face {
    font-family:Ubuntu;
    src: url(../font/Ubuntu/Ubuntu-regular.ttf);
}
body {
    background-image: linear-gradient(30deg , #000099, #0000ff);
}

.TextBody {	
    position: absolute;
    top: 12%;
    left: 50%;
    transform:  translate(-50%,50%);
    color: white;
    height: 40px;
    font-family:Ubuntu;
    font-size: 40px;
}

.tableResults {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 30%;
    left: 50%;
    background-color:#2f3640; 
    color: white;
    font-family:Ubuntu;
    font-size: 20px;
    border-radius: 15px;
}
.tableResults p {
    margin: 20px;
    padding: 5px 100px;
}
