<!DOCTYPE html>
<html lang="en" >
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="stylesheet" href="../static/css/style.css">
<head>
	<title> Cherries on Pizza </title>
</head>
<body>


<div class = "TextBody">	
	<p> Please enter your query zip-code! </p>
</div>
<div class="searchBox">

	<form name = "search" action="/results" method="POST">
        <input class="searchInput"type="text" name="searchInput" placeholder="Search">
	<button class="searchButton" href="#">
                <i class="material-icons"> search </i>
        </button>
	</form>	
</div>
  
</body>
</html>
